# Instructions

## TODOs

Copy these todos into a file called "Note.md" in the root of your project.

You will use that file to keep track of your progress.

{% for item in result
%}{{ loop.index }}{% if item.todos | length > 0
  %}{% for todo in item.todos
%}{{loop.index1}}. [ ] {{todo.text}}
    *([{{item.filename}}:{{ todo.line_number }}]({{item.location}}:{{todo.line_number}}))*{% endfor %}{% endif %}
{% endfor %}

## File Content Code Blocks

Copy each code block into the appropriate file.{%
for item in result %}

### {{item.name}}

(`{{ item.location }}`)

```{{ item.language }}
{{ item.content }}
```

{% endfor %}
