# Instructions

Copy the contents of the todos and code blocks into the appropriate files.

Once that is done, go through each of the todos in order and propose a solution to the user.

Upon approval, implement the solution and mark the todo as complete.

## TODOs

Copy these todos into a file called "Note.md" in the root of your project.

You will use that file to keep track of your progress.

{% for item in result
%}{{ loop.index }}. {{item.name}} (`{{ item.location }}`)
{% for todo in item.todos
%}   - [ ] {{todo.text}}
       *([{{item.name}}:{{ todo.line_number }}]({{item.location}}#{{todo.line_number}}))*
{% endfor %}
{% endfor %}

## File Content Code Blocks

Copy each code block into the appropriate file.{%
for item in result %}

### {{item.name}}

(`{{ item.location }}`)

```{{ item.language }}
{{ item.content }}
```

{% endfor %}
